.error-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.gridTable {
  max-height: 530px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #231c1c;
  border-radius: 5px;
}
.itemAddRow {
  background-color: #dde3e8;
}

.row.itemRow {
  border: 1px #ccc solid;
  margin: 10px 0px;
  padding: 2px;
  background-color: #c0d5ec;
  border-radius: 5px;
}
/* .row.itemRow:nth-child(even) {
  background-color: #a3c8ef;
} */

.row.form-group {
  margin-bottom: 1rem;
}

.itemAddRow .form-group,
.itemRow .form-group {
  margin-bottom: 0;
}

.noWrape {
  white-space: nowrap;
}